/*Variables*/

$primary-color: #7a523027;
$btn-color: #C54210;
$btn-back: #c543108e;
$btn-hover: #c54310b9;
$title-color: #fff;
$font-color: #646464;
$info-color: #f8f5f1;
$primary-font: 20px;
$secondary-font: 15px;
$style-font: sans-serif;

